* {
  font-family: "Playfair Display", serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 25rem 30rem;
  justify-content: center;
  column-gap: 5rem;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.item {
  height: 50rem;
  margin-top: 3rem;
}

#menu {
  display: grid;
  grid-template-rows: repeat(5, 4rem);
  row-gap: 1rem;
}

#menu .img {
  border-radius: 0.8rem;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: left;
  transition: all 0.2s ease;
}

.img img {
  border-radius: 50%;
  padding: 0;
  border: 0.17rem solid rgb(61, 2, 12);
  margin: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
}

.img p {
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
}

.truncate_left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: ltr;
  margin: 0;
}

.truncate_right {
  margin: 0;
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  direction: rtl;
}

#preview {
  text-align: center;
}

#preview img {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

figcaption {
  width: 94%;
  font-size: 1.2rem;
  margin: 0;
  padding: 1.1rem;
  vertical-align: middle;
  font-style: italic;
}

@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #menu {
    height: auto;
  }
}
